{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-expand-lg bg=[#ffff]">
  <div class="container-fluid p-4">
    <a class="navbar-brand" href="{{ url_for('index') }}">Karlein</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Discover
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('events') }}">Browse Events</a></li>
            {% if current_user.is_authenticated %}
            <li><a class="dropdown-item" href="{{ url_for('create_event_page') }}">Create an Event</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ url_for('cart') }}">View Cart</a></li>
            {% else %}
            <li><a class="dropdown-item disabled" href="#">Create an Event</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item disabled" href="#">View Cart</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
    {% if current_user.is_authenticated %}
    <button class="btn btn-outline-danger ml-2">
      <a href="{{ url_for('logout') }}" class="text-red-500 hover:text-white underline-none">Logout</a>
    </button>
    {% else %}
    <button class="btn btn-outline-success ml-2">
      <a href="{{ url_for('login') }}" class="text-green-500 hover:text-white underline-none">Login</a>
    </button>
    {% endif %}
  </div>
</nav>
<header class="hero">
  <div class="container">
    <h1>Aaj kuch <span class="italic text-violet-500">Karlein?</span></h1>
    <p>Discover and book your next adventure</p>
    <br>
    <a href="{{ url_for('events') }}" class="btn mt-8 btn-primary btn-lg">Browse Events</a>
    <a href="{{ url_for('register') }} " class="btn mt-8 btn-primary btn-lg">Register</a>
    <a href="{{ url_for('create_event_page') }}" class="btn mt-8 btn-primary btn-lg">Create</a> 
    <a href="{{ url_for('cart') }}" class="btn mt-8 btn-primary btn-lg">Your Cart</a> 
    <a href="{{ url_for('booking') }}" class="btn mt-8 btn-primary btn-lg">Your Bookings</a> 
  </div>
</header>


<section class="features">
  <div class="container">
      <div class="feature">
          <!-- <img src="images/create-event.svg" alt="Create Event"> -->
          <div id="carouselExampleCaptions" class="carousel slide h-46 mt-12 items-center justify-center text-center mx-auto">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner items-center justify-center text-center">
              <div class="carousel-item active">
                <img src="{{ url_for('static', filename='des1.png') }}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{ url_for('static', filename='des2.png') }}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{ url_for('static', filename='des3.png') }}" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <a href="{{ url_for('create_event_page') }}" class="btn mt-8 btn-primary btn-lg">Post your event today!</a>
      </div>
      <div class="feature">
          <!-- <img src="images/discover-events.svg" alt="Discover Events"> -->
          <div id="carouselExampleCaptions2" class="carousel slide h-46 mt-12 items-center justify-center text-center mx-auto">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="1" aria-label="Slide 5"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="2" aria-label="Slide 6"></button>
            </div>
            <div class="carousel-inner items-center justify-center text-center">
              <div class="carousel-item active">
                <img src="{{ url_for('static', filename='sch3.png') }}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{ url_for('static', filename='sch1.png') }}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{ url_for('static', filename='ret3.png') }}" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <a href="{{ url_for('events') }}" class="btn mt-8 btn-primary btn-lg">Explore Now</a>
        </div>
       <!--
      <div class="feature">
          <div id="carouselExampleCaptions3" class="carousel slide h-46 items-center justify-center text-center mx-auto">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 7"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="1" aria-label="Slide 8"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="2" aria-label="Slide 9"></button>
            </div>
            <div class="carousel-inner items-center justify-center text-center">
              <div class="carousel-item active">
                <img src="{{ url_for('static', filename='sch1.png') }}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{ url_for('static', filename='sch2.png') }}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{ url_for('static', filename='sch3.png') }}" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
          <a href="{{ url_for('booking') }}" class="btn btn-primary">View Bookings</a>
      </div>
  </div> -->
</section>

<footer class="footer">
  <div class="container">
      <p>&copy; 2024 Karlein. All rights reserved.</p>
  </div>
</footer>
<!-- <div class="container mx-auto py-12 items-center justify-center text-center">
  <h1 class="text-4xl font-bold mb-8">Find Your Next Adventure!</h1>
  <div class="flex flex-row">
  <div id="carouselExampleCaptions" class="carousel slide w-56 items-center justify-center text-center mx-auto">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner items-center justify-center text-center">
      <div class="carousel-item active">
        <img src="{{ url_for('static', filename='des1.png') }}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='des2.png') }}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='des3.png') }}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div id="carouselExampleCaptions2" class="carousel slide w-56 items-center justify-center text-center mx-auto">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="1" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="2" aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner items-center justify-center text-center">
      <div class="carousel-item active">
        <img src="{{ url_for('static', filename='ret1.png') }}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='ret2.png') }}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='ret3.png') }}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div id="carouselExampleCaptions3" class="carousel slide w-56 items-center justify-center text-center mx-auto">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 7"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="1" aria-label="Slide 8"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="2" aria-label="Slide 9"></button>
    </div>
    <div class="carousel-inner items-center justify-center text-center">
      <div class="carousel-item active">
        <img src="{{ url_for('static', filename='sch1.png') }}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='sch2.png') }}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='sch3.png') }}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-9 " >
    <div class="p-6 bg-white shadow-md rounded-lg">
      <a href="{{ url_for('register') }}" class="block text-center bg-blue-400 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Register</a>
    </div>
    <div class="p-6 bg-white shadow-md rounded-lg">
      <a href="{{ url_for('create_event_page') }}" class="block text-center bg-rose-400 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Create a new event</a>
    </div>
    <div class="p-6 bg-white shadow-md rounded-lg">
      <a href="{{ url_for('events') }}" class="block text-center bg-emerald-300 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">View all events</a>
    </div>
    <div class="p-6 bg-white shadow-md rounded-lg">
      <a href="{{ url_for('cart') }}" class="block text-center bg-amber-300 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">View your cart</a>
    </div>
    <div class="p-6 bg-white shadow-md rounded-lg">
      <a href="{{ url_for('booking') }}" class="block text-center bg-indigo-300 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Make a booking</a>
    </div>
  </div>
  
</div> -->

{% endblock %}





<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the Event Management System!</h1>
    <p><a href="{{ url_for('register') }}">Register</a> as a new user</p>
    <p><a href="{{ url_for('create_event_page') }}">Create</a> a new event</p>
    <p><a href="{{ url_for('events') }}">View</a> all events</p>
    <p><a href="{{ url_for('cart') }}">View</a> your cart</p>
    <p><a href="{{ url_for('booking') }}">Make</a> a booking</p>
</body>
</html> -->
