{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid p-4">
    <a class="navbar-brand" href="{{ url_for('index') }}">Karlein</a>
    {% if current_user.is_authenticated %}
    <button class="btn btn-outline-danger ml-2">
      <a href="{{ url_for('logout') }}" class="text-red-500 hover:text-white underline-none">Logout</a>
  </button>
      {% endif %}
  </div>
</nav>

<div class="container mx-auto">
    <h1 class="text-center text-3xl mt-10 mb-6">Register</h1>
    <form action="{{ url_for('register') }}" method="POST" class="mx-auto max-w-sm">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="form-control mb-4" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="form-control mb-4" required>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    <p class="text-center mt-4">Already have an account? <a href="{{ url_for('login') }}" class="text-blue-500">Login</a></p>
</div>
{% endblock %}
